nav {
  width: 100%;
  position: fixed;
  background: #fbfdff;
  z-index: 99; }

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #fbfdff; }

.main-nav__logo {
  display: flex;
  justify-content: space-between;
  width: 49px;
  align-items: flex-end; }
  .main-nav__logo .main-nav__logo-circle {
    width: 20px;
    height: 20px;
    background: #9c69e2;
    border-radius: 20px; }
  .main-nav__logo .main-nav__logo-rectangle {
    width: 20px;
    height: 35px;
    background: #f063b8;
    border-radius: 20px; }

.main-nav__menu {
  width: 100%;
  padding-left: 40px;
  display: flex;
  justify-content: space-between; }
  .main-nav__menu .main-nav__menu-item {
    list-style-type: none;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
    color: #4b5d68; }
    .main-nav__menu .main-nav__menu-item:hover {
      color: #212353; }

.main-nav__button {
  position: absolute;
  top: 100px;
  right: 40px;
  cursor: pointer;
  width: 210px;
  height: 60px;
  border: none;
  box-shadow: 0px 5px 5px #d3d3d3;
  border-radius: 50px;
  background: #ffffff; }

@media screen and (min-width: 768px) {
  .main-nav__button {
    position: relative;
    top: 0px;
    right: 0px; }
  .main-nav__menu {
    padding-left: 0px;
    padding-right: 40px;
    width: 40%; } }

@media screen and (min-width: 1200px) {
  .main-nav__menu {
    padding-right: 400px;
    width: 60%; } }

section {
  width: 100%;
  display: flex;
  padding: 200px 20px;
  align-items: center;
  justify-content: center; }

.landing-page__wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex; }

.landing-page__left {
  background: url("../assets/hero.png");
  width: 885px;
  height: 468px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: -280px;
  margin-top: 100px;
  z-index: 1; }

.landing-page__right {
  width: 50%;
  height: 600px;
  color: #212353;
  background: none;
  z-index: 4; }

.landing-page__content {
  background: none; }

.landing-page__content h1 {
  margin: 0;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  background: none; }

.landing-page__content p {
  width: 380px;
  height: 120px;
  font-family: Avenir;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  padding-top: 50px;
  background: none; }

.landing-page__content button {
  border: none;
  width: 170px;
  height: 60px;
  background: #9c69e2;
  border-radius: 50px;
  margin-top: 70px; }

.landing-page__content a {
  font-family: Avenir;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  background: #9c69e2;
  color: #ffffff;
  text-decoration: none; }

@media only screen and (max-width: 600px) {
  .landing-page__wrapper {
    flex-direction: column;
    width: 100%; }
  .landing-page__left {
    display: none; } }

@media only screen and (max-width: 1200px) {
  .landing-page__wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; }
  .landing-page__left {
    position: absolute;
    margin-left: 30%; }
  .landing-page__right {
    width: 100%; }
  .landing-page__content h1 {
    font-size: 60px; }
  .landing-page__content p {
    width: 300px;
    font-size: 16px;
    padding-top: 30px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fbfdff; }
