.footer {
  padding: 100px 20px 100px;
}

.footer-header {
  max-width: 1200px;
  margin: 0 auto;
  .footer-header__row {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: baseline;
    //   flex-wrap: wrap;
  }
}

.footer-header__text h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: $mainTextColor;
}

.footer-header__text p {
  padding-top: 20px;
  font-family: Avenir;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: $secondaryTextColor;
}

.footer-header__buttons .footer-header__btn {
  border: none;
  width: 170px;
  height: 60px;
  background: $pink;
  border-radius: 50px;
  margin-top: 70px;
  color: $whiteTextColor;
}
.footer-header__buttons .footer-header__link {
  font-family: Avenir;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  background: $pink;
  color: $whiteTextColor;
  text-decoration: none;
}
.footer-header__buttons .footer-header__button {
  margin-left: 30px;
  cursor: pointer;
  width: 210px;
  height: 60px;
  border: none;
  box-shadow: 0px 5px 5px #d3d3d3;
  border-radius: 50px;
  background: $whiteTextColor;
}

.footer-info {
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  .footer-info__row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

.footer-info__logo-text {
  font-family: Avenir;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;
}

.footer-info__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  color: $mainTextColor;
}

.footer-info__wrapper-address h6 {
  padding-top: 60px;
  font-family: Avenir;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  color: $mainTextColor;
}

.footer-info__wrapper-email p {
  padding-top: 10px;
  font-family: Avenir;
  font-size: 16px;
  line-height: 180%;
  color: $mainTextColor;
}

.footer-info__about p {
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: $mainTextColor;
  padding-bottom: 30px;
}

.footer-info__about a {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: $mainTextColor;
}

.footer-info__social-dots .dot {
  margin-top: 30px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  background: #212353;
  opacity: 0.1;
  border-radius: 50%;
  display: inline-block;
}
