nav {
  width: 100%;
  position: fixed;
  background: $mainBackground;
  z-index: 99;
}

.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: $mainBackground;
}

.main-nav__logo {
  display: flex;
  justify-content: space-between;
  width: 49px;
  align-items: flex-end;
  .main-nav__logo-circle {
    width: 20px;
    height: 20px;
    background: $purple;
    border-radius: 20px;
  }
  .main-nav__logo-rectangle {
    width: 20px;
    height: 35px;
    background: $pink;
    border-radius: 20px;
  }
}

.main-nav__menu {
  width: 100%;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  .main-nav__menu-item {
    list-style-type: none;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 500;
  }
}

a {
  text-decoration: none;
  color: $secondaryTextColor;
  &:hover {
    color: $mainTextColor;
    font-weight: 800;
  }
}

.main-nav__button {
  display: none;
}

// nav media queries - desktop
@media screen and (min-width: 768px) {
  .main-nav__button {
    display: block;
    top: 100px;
    right: 40px;
    cursor: pointer;
    width: 210px;
    height: 60px;
    border: none;
    box-shadow: 0px 5px 5px #d3d3d3;
    border-radius: 50px;
    background: $whiteTextColor;
  }
  .main-nav__menu {
    padding-left: 0px;
    padding-right: 40px;
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__menu {
    padding-right: 400px;
    width: 60%;
  }
}
