//color variables
$purple: #9c69e2;
$pink: #f063b8;
$seaGreen: #68c9ba;
$mainBackground: #fbfdff;
//text color variables
$mainTextColor: #212353;
$secondaryTextColor: #4b5d68;
$whiteTextColor: #ffffff;
