//***imports need to be in order***
@import "./variables";
@import "./navbar";
@import "./landing";
@import "./info";
@import "./features";
@import "./testimonials";

//global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background: $mainBackground;
}
