//***imports need to be in order***
@import "./variables";
@import "./navbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $mainBackground;
}

section {
  width: 100%;
  display: flex;
  padding: 200px 20px;
  align-items: center;
  justify-content: center;
}

/* left/right */
.landing-page__wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
}

.landing-page__left {
  background: url("../assets/hero.png");
  width: 885px;
  height: 468px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -280px;
  margin-top: 100px;
  z-index: 4;
}

.landing-page__right {
  width: 50%;
  height: 600px;
  color: $mainTextColor;
  z-index: 1;
}

.landing-page__content h1 {
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
}

.landing-page__content p {
  width: 380px;
  height: 120px;
  font-family: Avenir;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  padding-top: 50px;
}

.landing-page__content button {
  border: none;
  width: 170px;
  height: 60px;
  background: #9c69e2;
  border-radius: 50px;
  margin-top: 70px;
}

.landing-page__content a {
  font-family: Avenir;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  background: #9c69e2;
  color: $whiteTextColor;
  text-decoration: none;
}
